.level {
    text-align: center;
}

input {
    padding: 8px;
    border: 2px solid #ff4081;
    border-radius: 8px;
    width: 80%;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e73370;
}
